<link rel="stylesheet" href="../../public.css" />
<style>
  :host {
    display: inline-block;
  }
</style>
<textarea
  #if="type === 'textarea'"
  class="form-control"
  id="exampleFormControlTextarea1"
  attr:placeholder="placeholder"
  attr:disabled="disabled"
  attr:readonly="readonly"
  attr:rows="row || 3"
  sync:value="value"
  part="textarea"
></textarea>
<input
  #else
  attr:class="getClassStr()"
  attr:type="type"
  attr:placeholder="placeholder"
  attr:disabled="disabled"
  attr:readonly="readonly"
  attr:list="datalistid"
  sync:value="value"
  part="input"
/>
<datalist attr:id="datalistid"></datalist>
<div style="display: none"><slot slotchangesubtree></slot></div>
